{{extend 'layout.html'}}

<head>

<style>

hr {
	 display: block;
	          margin-before: 0.5em;
	          margin-after: 0.5em;
	          margin-start: auto;
	          margin-end: auto;
	          border-style: inset;
	          border-width: 1px;
	         }

	</style>
	</head>

	<body>
	<div style="height:4%;">
	<div style="float:left;margin:0px;"><img src="./../static/images/images.png"></div>
	<div style="float:right;">
	</div>
	</div>
	<br><br><br><br>

	<center>
	<video width="80%" height="40%" controls>
	<source src="./../static/images/iiit.mp4" type="video/mp4">
	</video>
	</center>

	<br><br>

	<div id="main" style="height:810px;width:80%;background-color:#F0F0F0;border-radius:2%;padding:2%;box-shadow: 2px 2px 2px #888888;">

	<center><p style="color:#0066ff;"><b>About The Institute</b></p></center>
	<hr>

	<div id="images" style="height:90%;width:27%;float:left;background-color:#F0F0F0;border-radius:2%;padding:2%;box-shadow: 2px     2px 2px #888888;">

	<img src="./../static/images/2.jpeg" style="height:22%;width:90%;">
	<p>IIIT-Hyderabad.</p>
	<img src="./../static/images/1.jpg" style="height:22%;width:90%;">
	<p>The main building "Nilgiri".</font></p>
	<img src="./../static/images/pjn.jpg" style="height:22%;width:80%">
	<p>“Our decade long work at IIIT-H has shown how an academic institute can build large research groups to carry out cutting edge research, and use it to solve real-life industrial and societal problems.” 
	Prof. P J Narayanan, Director, IIIT-H.</p>
	</div>

	<div id="text" style="height:90%;width:60%;background-color:#F0F0F0;float:right;border-radius:2%;padding:2%;box-shadow: 2px 2px 2px #888888;">
	The International Institute of Information Technology, Hyderabad (IIIT-H) is an autonomous university founded in 1998. It was set up as a not-for-profit public private partnership (N-PPP) and is the first IIIT to be set up (under this model) in India. The Government of Andhra Pradesh lent support to the institute by grant of land and buildings. A Governing Council consisting of eminent people from academia, industry and government presides over the governance of the institution.
	<br><br>
	IIIT-H was set up as a research university focused on the core areas of Information Technology, such as Computer Science, Electronics and Communications, and their applications in other domains. The institute evolved strong research programmes in a host of areas, with computation or IT providing the connecting thread, and with an emphasis on the development of technology and applications, which can be transferred for use to industry and society. This required carrying out basic research that can be used to solve real life problems. As a result, a synergistic relationship has come to exist at the Institute between basic and applied research. Faculty carries out a number of academic industrial projects, and a few companies have been incubated based on the research done at the Institute.

<br><br>	IIIT-H is organized as research centres and labs, instead of the conventional departments, to facilitate inter-disciplinary research and a seamless flow of knowledge within the Institute. Faculty assigned to the centers and labs conduct research, as well as academic programs, which are owned by the Institute, and not by individual research centers.
<br><br>
The Institute combines pioneering research with top class education. An innovative curriculum allows the student flexibility in selecting courses and projects. Students, even at the undergraduate level, get to participate in ongoing research and technology development - an opportunity unprecedented in India. As a result, a vibrant undergraduate programme co-exists with a strong postgraduate programme.
	</div>

	</div>

	</body>
