{{extend 'layout.html'}}
<!---Ankush(on 28th october)-->
<!DOCTYPE html>
<html>
<head>
<style>
	.answer {
		display:none;
	}

	h5 {
		line-height:24px;
		font-size:16px;
		font-weight:700;
		color:rgb(100,150,200);
      		padding-left:24px;
		cursor:pointer;
       		background-image:url('./../static/images/open.png');
       		background-position:left;
       		background-repeat:no-repeat;
	}

	h5.close {
		background-image:url('./../static/images/close.png');
	}
</style>
<script src="./../static/js/jquery-1.9.1.min.js"></script>
<script>
	$(document).ready(function() {
		    $('#faq-list h5').click(function() {

			            $(this).next('.answer').slideToggle(300);
				            $(this).toggleClass('open');

					        });
		    }); // end ready
</script>
</head>
<body>

	<div><img src="./../static/images/images.png"></div>
	<hr>
	<br>
	<div style="height:40px;">
		<div style="float:left;">
		<p style="color:;"><b>FREQUENTLY ASKED QUESTIONS</b></p>
		</div>
	 	<div style="float:right;"> <a href='{{=URL(r=request,c='default',f='index')}}'>Home</a></div>
	</div>
	<section id="faq-list">
	<h5>Since IIIT HYDERABAD is a new Institute, does it relax the requirements for faculty positions?</h5>
	<div class="answer" style="width:1100px;">
	<p>IIIT-H  places great emphasis on the high quality
	of the faculty it hires. As the Institute is in its
	rapid development phase, these are the people who will lay the seeds for IIIT-H to grow into an
	institution of exceptional repute, and the Institute
	is very selective in its recruitment and
	will lookto hire only the best faculty.</p>
	</div>
	<h5>I enjoy teaching and I am an excellent teacher, but research is not a big priority for me; (or
			 conversely) I am passionate about research, and I find that teaching gets in the way. Is
	IIIT-H the right place for me?</h5>
	<div class="answer">
	<p>One activity
	cannot be discounted at the expense of the other. At IIIT-H teaching and research
	go hand in hand. Excellent research will inform teaching, and enable the Institute to graduate
	students at the forefront of knowledge.</p>
	</div>
	<h5>I am living outside India; do I have t
	o come down to IIIT-H for an interview?</h5>
	<div class="answer">
	<p>IIIT-H strongly prefers that candidates invited for an interview physically visit the campus as it
	gives the candidate a chance to observe the growth
	of IIIT-H in person and also helps IIIT-H to evaluate the compatibility of the candidate with the institute. Only in exceptional cases does
	IIIT-H conduct formal interviews and presentations through Skype.</p>
	</div>
	<h5>I will be defending my thesis soon (I don’t have the PhD degree yet), can I still apply?</h5> 
	<div class="answer">
	<p>Yes, candidates with outstanding credentials can be considered and offered faculty position
	conditional on successful completion of PhD.</p>
	</div>
	<h5>I am a fresh PhD; what kind of appointment can I expect? </h5> 
	<div class="answer">
	<p>Fresh PhD applicants with an excellent academic record, good communication skills,
	commitment to high quality undergraduate and post-graduate education, and potential for creative
	research will be considered for the position of Assistant Professor (on Contract).</p>
	</div>
	<h5>I am a fresh PhD, interested in joining IIIT-H. But should I consider doing a post-doc
	first? Would the terms be better?</h5> 
	<div class="answer">
	<p>The decision to join immediately after PhD or after post
	-
	doc experience is a personal one. IIIT-H
	is open to recruit outstanding candidates with a PhD regardless of whether they have post
	-
	doctoral experience.</p>
	</div>
	<h5>What are the limitations of being on
	“contract” compared to being on the “regular” track?</h5> 
	<div class="answer">
	<p>To expedite the hiring process, faculty members may be appointed on contract by a Standing
	Committee instead of the Selection Committee. The appointments made through the Standing
	Committee will be for
	a maximum period of two years. Candidates with less than three years of
	post
	-
	PhD experience are appointed on contract regardless of whether the appointment is through
	a Standing Committee or Selection Committee. Those appointed through the Standing
	Committ
	ee must be approved for continuation in regular positions by the Selection Committee in
	due course. Benefits for regular and contract appointments are generally the same.
	Occasionally
	,
	f
	aculty members can also be appointed on annual contracts at a fixed, c
	onsolidated salary
	inwhich casethe salary has no variable components such as dearness allowance, house rent allowance, etc. or benefits such as leave travel concessions or children’s educational allowance.</p>
	</div>
	<h5>I have a PhD degree in a discipline not listed on
	the IIIT-H website. Is IIIT-h hiring in
	these areas?</h5> 
	<div class="answer">
	<p>Yes, applications in disciplines other than those currently listed are welcome. More academic
	programs will be initiated as IIIT-H ramps up expansion over the next few years.</p>
	</div>
	<h5>I am not an Indian
	citizen. Can I still apply for a position at IIIT-H?</h5> 
	<div class="answer">
	<p> Foreign nationals are welcome to apply for faculty positions, and may be appointed for limited
	duration of up to 5 years.</p>
	</div>
	<h5>Are employment opportunities available for spouses at IIIT-H or in the neighbor
	hood?</h5> 
	<div class="answer">
	<p>Merit of the candidate is the main consideration, and IIIT-H neither gives preference nor
	discriminates in hiring spouses. The Institute is located in an economically vibrant city and there
	are many opportunities for spouses in the neighborhood.</p>
	</div>
	<h5> Ho
	w long will it take IIIT-H to make me an offer?</h5> 
	<div class="answer">
	<p>It takes anywhere between 2
	-
	4 months to consider faculty applications through the Standing
	Committee.</p>
	</div>
	<h5>How soon will I be expected to join after getting the offer?</h5> 
	<div class="answer">
	<p> About three months, but we are flexible in
	considering requests for extension in joining time.
	Acceptance or rejection of the offer, however, is expected within one month of the date the offer
	is made.</p>
	</div>
	<h5>Does IIIT-H offer visiting appointments of short durations such as one semester or one
	year?</h5> 
	<div class="answer">
	<p> Y
	es, IIIT-H encourages qualified candidates to apply for such appointments.</p>
	</div>
	</section>
	</body>
	</html>





