{{extend 'layout.html'}}
<!--Ankush------>
<!DOCTYPE html>
<head>
</head>
<body>
	<img src="./../static/images/images.png">

	<div id="head" style="background-color:; text-align:center;width:100%;color:;float:left;"><h5>International Institute of Information Technology, Hyderabad</h5></div>

	<div style="color:#000000;"><center><h2><B>Faculty Hiring Portal</B></h2></center></div>
	<div id="carousel" style="background-color:;height:50%;width:100%;"> 
	 	<img id="image" src = "./../static/images/2.jpg" style="width:100%;"> 
		<!--	<li><img id="image" src="./../static/images/8.JPG"  /></li>
		<li><img id="image" src="./../static/images/6.JPG"  /></li>
		<li><img id="image" src="./../static/images/7.JPG"  /></li>
		<li><img id="image" src="./../static/images/10.png"  /></li>
		<li><img id="image" src="./../static/images/11.png"  /></li>
		<li><img id="image" src="./../static/images/1.jpg" /></li>
		<li><img id="image" src="./../static/images/3.jpeg"  /></li>
		<li><img id="image" src="./../static/images/4.jpeg"  /></li>
		<li><img id="image" src="./../static/images/5.jpeg"  /></li>
		<li><img id="image" src="./../static/images/9.JPG"  /></li>
		</ul>-->
	</div>
	<div style="width:100%;background-color:;">
        <center>
            {{if not auth.is_logged_in():}}
            <INPUT class="btn" type="button" value="Candidate Login"
                   onclick="location.href='{{=URL(c='default',f='user/login')}}'"/>
            <INPUT class="btn" type="button" value="Faculty/Admin Login"
                   onclick="location.href='{{=URL(c='facultyAdmin',f='login')}}'"/>
            <INPUT class="btn" type="button" value="IIIT Employee Login"
                   onclick="location.href='{{=URL(c='employee',f='login')}}'"/>
            {{pass}}
            {{if auth.is_logged_in():}}
             {{if len(db(db.optionalAddon.Username == auth.user.username).select()) < 1:}}
           	 <INPUT class="btn" type="button" value="Fill your Additional Information"
                   onclick="location.href='{{=URL(r=request,c='default',f='optionalAddon')}}'"/>
            {{pass}} 
            <INPUT class="btn" type="button" value="Application Status"
                   onclick="location.href='{{=URL(r=request,c='default',f='applicationStatus')}}'"/>
            {{pass}}
            <INPUT class="btn" type="button" value="About Us"
                   onclick="location.href='{{=URL(r=request,c='default',f='aboutus')}}'"/>
            <INPUT class="btn"type="button" value="FAQs"
                   onclick="location.href='{{=URL(r=request,c='default',f='faq')}}'"/>
            <INPUT class="btn" type="button" value="Contact Us"
                   onclick="location.href='{{=URL(r=request,c='default',f='contactUs')}}'"/>
        </center>
	</div>
	<div style="background-color:; height:50%;width:80%;padding:6%;">
	<div style="background-color:#F0F0F0;height:50%;width:60%;float:left;border-radius:2%;padding:2%;box-shadow: 2px 2px 2px #888888;">
		<center><p style="color:#0066ff;"><b>Faculty Openings</b></p></center>
		<hr>
		<p>Join us at this model institution as:</p>
		<p>Professor / Associate Professor / Assistant Professor / Lecturer</p>
		<br>
		<p>The institute is seeking Faculty Members at all levels in the following areas:</p>
		<ul>
			<li>Computer Science</li>
			<li>Electronics and Communication Engineering</li>
			<li>Electrical Engineering/ Power Systems</li>
			<li>Spatial Informatics/ GIS Remote Sensing</li>
			<li>Computational and Theoretical Chemistry/ Physics/ Biology(CNS)</li>
			<li>Bioinformatics(BI)</li>
			<li>Computational Linguistics</li>
			<li>Structural Engineering</li>
			<li>Building Science</li>	
			<li>Mathematics and Statistics</li>
			<li>Exact Humanities</li>
			<li>IT for Agriculture</li>
			<li>Technology Management/ Entrepreneurship</li>
			<li>Cognitive Science</li>
		</ul>
		<br>
		<p>We also encourage applications from other areas of national importance (such as, agriculture, health, e-governance, education, policy studies, arts, etc)wherein there is a strong need to come up with IT/ECE enabled solutions.</p>

	</div>
    	{{#if not(auth.is_logged_in() or facultyauth.is_logged_in()):}}    
	<div style="background-color:#f0f0f0;color:black; height:25%; width:30%; float:right;top:1%;border-radius:5%;padding:2%;box-shadow: 2px 2px 2px #888888;">
	<center><p style="color:#0066ff;"><b>News</b></p></center>
	<hr>
	<marquee behavior="scroll"scrollamount="3" direction="up">
	<ul>
	<a href="http://www.iiit.ac.in/news/news/rajan_ndr" style="color:;"><li>Dr. K. S. Rajan has been nominated as a member of the Technical Committee for National Data Registry under National-GIS Project</li>
	<li>ICON 2014 - 18-21 December 2014</li>
	<li>Won first prize at the Tracking and Imaging Challenge at PCV-2014 Conference</li>
	<li>Two IIIT-H Students Yashaswi Verma and Rajvi Shah Receive Prestigious Microsoft Research India and Google India PhD Fellowship </li></a>
	</ul>
	</marquee>
	</div>
	<br><br><br><br><br>
	<br><br><br><br><br>
	<br><br><br><br><br>
	<br><br>
	<div style="color:black; height:30%;width:30%;float:right;background:#f0f0f0;border-radius:10%;padding:2%;box-shadow: 2px 2px 2px #888888;"><p><a href="http://www.iiit.ac.in/people/faculty">CLICK HERE  </a>for current faculty information.</p></div>
	</div>
 <!--       <div style="background-color:#f0f0f0; color:black; width:275px; float:right; top:15px;height:575px;text-align:right;border-radius:20px;">
<center><h3 style="color:#5F9EA0;"><i>Achievements</i></h3></center>
<hr>
	</div>-->
	</div>
   {{pass}}
</body>
