<!--Nurendra: This page is for the optional Additional Information-->
{{extend 'layout.html'}}
{{if flag==0:}}
<h3>
    You have already filled this part.
    Return to the <a href='{{=URL("default","index")}}'>Homepage</a>
</h3>
{{else:}}
<title>Additional Information</title>
<head>
    <h3>
        Additional Information (optional):
    </h3><h4>
        Note:</h4> 
    <h5>
              This application can be filled <b>ONLY ONCE</b>.<br> 
              This part of information is optional but will help in faster and more accurate forwarding of your form.<br>
              Click on the tabs for filling the information.<br>
       </h5>
    <hr width="100%">
    <h4 style="color:green;">
        Username: {{=auth.user.username.capitalize()}}
    </h4>
    <hr width="100%">
    <script src="./../static/js/jquery-1.9.1.min.js"></script>
    <script>
    $(document).ready(function() {
		    $('#addon h4').click(function() {
                $(this).next('.answer').slideToggle(300);
				$(this).toggleClass('open');
            });
    }); // end ready
</script>
    <style>
    .btn {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 3;
      -moz-border-radius: 3;
      border-radius: 3px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
    .answer {
            display:none;
     }

    .subject {
        line-height:24px;
        font-size:18px;
        font-weight:700;
        color:rgb(100,150,200);
        padding-left:24px;
        cursor:pointer;
        background-image:url('./../static/images/open.png');
        background-position:left;
        background-repeat:no-repeat;
    }

    h4.close {
        background-image:url('./../static/images/close.png');
    }
    </style>
</head>
<body>
    <section id="addon">
    {{=form.custom.begin}}
    <h4 class="subject">
        Research Interests:
    </h4>
    <div class="answer" style="width:1100px;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Primary Area of Research: &nbsp;&nbsp;{{=form.custom.widget['Primary_Research_Area']}}<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Research Center(s) of Preference:</b><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=form.custom.widget['Signal_Processing_and_Communications_Research_Center']}}  Signal Processing and Communications Research Center<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=form.custom.widget['Center_for_Data_Engineering']}}  Center for Data Engineering<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=form.custom.widget['Language_Technologies_Research_Center']}}  Language Technologies Research Center<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=form.custom.widget['Robotics_Research_Center']}}  Robotics Research Center<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=form.custom.widget['Center_for_Security_Theory_and_Algorithms']}}  Center for Security Theory and Algorithms<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=form.custom.widget['Software_Engineering_Research_Center']}}  Software Engineering Research Center<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=form.custom.widget['Center_for_Visual_Information_Technology']}}  Center for Visual Information Technology<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=form.custom.widget['Center_for_VLSI_and_Embedded_Systems_Technology']}}  Center for VLSI and Embedded Systems Technology<br><br>
    </div>
    <hr width="100%">
    <h4 class="subject">
        Statement(s) of Purpose:
    </h4>
    <div class="answer">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research Statement:  {{=form.custom.widget.Research_Statement}}<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Teaching Statement:  {{=form.custom.widget.Teaching_Statement}}<br><br>
    </div>
    <hr width="100%">
    <h4 class="subject">
        Publications:
    </h4>
    <div class="answer">
    <h5>
        Submit any three previous research papers relevant to the present application.
    </h5>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research Paper 1:  {{=form.custom.widget.Relevant_Research_Paper_1}}<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research Paper 2:  {{=form.custom.widget.Relevant_Research_Paper_2}}<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research Paper 3:  {{=form.custom.widget.Relevant_Research_Paper_3}}<br><br>
    </div>
    <hr width="100%">
    <h4 class="subject">
        References:
    </h4>
    <div class="answer">
    <h5>
        Provide us with the details of three references from whom you would like us to seek recommendation.
    </h5>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h5>
        Reference 1:
    </h5>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name: {{=form.custom.widget['Recommendation_Name_1']}}<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: {{=form.custom.widget['Recommendation_Email_1']}}<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h5>
        Reference 2:
    </h5>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name: {{=form.custom.widget['Recommendation_Name_2']}}<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: {{=form.custom.widget['Recommendation_Email_2']}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h5>
        Reference 3:
    </h5>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name: {{=form.custom.widget['Recommendation_Name_3']}}<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: {{=form.custom.widget['Recommendation_Email_3']}}<br><br>
    </div>
    <hr width="100%">
    {{=form.custom.submit}}
    {{=form.custom.end}}
    </section>
</body>
{{pass}}
