{{extend 'layout.html'}}

<a href="{{=URL('facultyAdmin','index')}}"><button> &larr; Back to Home
</button></a>
<h4>
    Check if Role already exists(by email):
</h4>
{{=check_form}}
<hr width="100%"/>
{{if role is not None:}}
    <b>Role is present.</b><br>
    <b>Name:</b> {{=role.Name}}<br>
    <b>Designation:</b> {{=role.Designation}}
<hr width="100%"/>
{{pass}}
<h4>
    Add a New Role:
</h4>
{{=form}}
<hr width="100%"/>

