{{extend 'layout.html'}}
<head>
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/table.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/datatable.css')}}">
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/datatable.js')}}"></script>
    <script src="{{=URL('static','js/datatable2.js')}}"></script>
    <style>
    body { font-size: 140%; }
    </style>
    <script>
        $(document).ready(function() {
             $('#example').dataTable();
        } );
    </script>
</head>
<body>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Resume</th>
                <th>Current Affliation</th>
                <th>PhD Status</th>
                <th>Date Of Completion</th>
                <th>Institute of PhD</th>
                <th>Nationality</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Resume</th>
                <th>Current Affliation</th>
                <th>PhD Status</th>
                <th>Date Of Completion</th>
                <th>Institute of PhD</th>
                <th>Nationality</th>
                <th>Actions</th>
             </tr>
        </tfoot>

        <tbody>
            {{for row in rows:}}
            <tr>
                <td>{{=row.id}}</td>
                <td>{{=(row.first_name + ' ' + row.last_name)}}</td>
                <td><a href="{{=URL(c='appadmin',f='download/db/'+row.Resume)}}">file</a></td>
                <td>{{=row.Current_Affiliation}}</td>
                <td>{{=row.Status_of_Ph_D}}</td>
                <td>{{=row.Date_of_Completion}}</td>
                <td>{{=row.Institute_of_Ph_D}}</td>
                <td>{{=row.Nationality}}</td>
                {{
                forwardFlag=0
                forwardRow=db(db.forwardedToAdmin.applicationId==row.id).select()
                if len(forwardRow)>0:
                    forwardFlag=1
                pass
                }}
                {{if forwardFlag==0:}}
                <td><a href="{{=URL(c='employee',f='viewFullApplication',args=row.id)}}" target="_blank">View</a>/<a href="{{=URL(c='employee',f='index',args=row.id)}}">Forward</a></td>
                {{else:}}
                <td><a href="{{=URL(c='employee',f='viewFullApplication',args=row.id)}}" target="_blank">View</a>/<a>Forwarded</a></td>
                {{pass}}
            </tr>
            {{pass}}
        </tbody>
     </table>
</body>
