{{extend 'layout.html'}}
{{if len(row) < 1:}}
<h3>
    The Application does not exist.<br> Please go back to <a href="{{=URL('default','index')}}">Homepage</a> or <a href = "{{=URL('employee','index')}}">Applications page</a>.
</h3>
{{else:}}
{{application = row[0]}}
<head>
    <script src="./../static/js/jquery-1.9.1.min.js"></script>
    <script>
    $(document).ready(function() {
		    $('#addon h4').click(function() {
                $(this).next('.answer').slideToggle(300);
				$(this).toggleClass('open');
            });
    }); // end ready
</script>
    <style>
    .btn {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 3;
      -moz-border-radius: 3;
      border-radius: 3px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
    .answer {
            display:none;
     }

    h4 {
        line-height:24px;
        font-size:18px;
        font-weight:700;
        color:rgb(100,150,200);
        padding-left:24px;
        cursor:pointer;
        background-image:url('./../static/images/open.png');
        background-position:left;
        background-repeat:no-repeat;
    }

    h4.close {
        background-image:url('./../static/images/close.png');
    }
    </style>
</head>
<body>
<section id="addon">
<hr width="100%">
<h4>
    Basic Application Information
</h4>
<div class="answer" style="width:1100px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Application Id:</strong> {{=application.id}}<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Name:</strong> {{=(application.first_name + ' ' + application.last_name)}}<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Email Id:</strong> {{=application.email}}<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Nationality:</strong> {{=application.Nationality}}<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Current Affiliation:</strong> {{=application.Current_Affiliation}}<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Status of PhD:</strong> {{=application.Status_of_Ph_D}}<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Date of Completion:</strong> {{=application.Date_of_Completion}}<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Institute of PhD:</strong> {{=application.Institute_of_Ph_D}}<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Resume:</strong> <a href="{{=URL(c='appadmin',f='download/db/'+application.Resume)}}">Resume</a><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Cover Letter:</strong> <a href="{{=URL(c='appadmin',f='download/db/'+application.Cover_Letter)}}">Cover Letter</a><br><br>
</div>
<hr width="100%">
{{addon = db(db.optionalAddon.Username == application.username).select()}}
{{if len(addon) > 0:}}
{{addon=addon[0]}}
<h4>
    Research Interests
</h4>
<div class="answer" style="width:1100px;">
{{if addon.Primary_Research_Area:}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Primary Research Area:</strong> {{=addon.Primary_Research_Area}}<br><br>
{{pass}}
{{researchCenters=[]
if addon.Signal_Processing_and_Communications_Research_Center:
researchCenters.append("Signal Processing and Communications Research Center")
pass
if addon.Center_for_Data_Engineering:
researchCenters.append("Center for Data Engineering")
pass
if addon.Language_Technologies_Research_Center:
researchCenters.append("Language Technologies Research Center")
pass
if addon.Robotics_Research_Center:
researchCenters.append("Robotics Research Center")
pass
if addon.Center_for_Security_Theory_and_Algorithms:
researchCenters.append("Center for Security Theory and Algorithms")
pass
if addon.Software_Engineering_Research_Center:
researchCenters.append("Software Engineering Research Center")
pass
if addon.Center_for_Visual_Information_Technology:
researchCenters.append("Center for Visual Information Technology")
pass
if addon.Center_for_VLSI_and_Embedded_Systems_Technology:
researchCenters.append("Center for VLSI and Embedded Systems Technology")
pass
}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Preferred Research Centers:</strong><br>
{{if len(researchCenters)==0:}}
No Preference
{{else:}}
{{for i in researchCenters:}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=i}}<br>
{{pass}}
{{pass}}
<br>
</div>
<hr width="100%">
<h4>
    Statement(s) of Purpose
</h4>
<div class="answer" style="width:1100px;">
{{if addon.Research_Statement:}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Research Statement:</strong> <a href="{{=URL(c='appadmin',f='download/db/'+addon.Research_Statement)}}">Research Statement</a><br><br>
{{pass}}
{{if addon.Teaching_Statement:}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Teaching Statement:</strong> <a href="{{=URL(c='appadmin',f='download/db/'+addon.Teaching_Statement)}}">Teaching Statement</a><br><br>
{{pass}}
</div>
<hr width="100%">
<h4>
    Relevant Publications
</h4>
<div class="answer" style="width:1100px;">
{{if addon.Relevant_Research_Paper_1:}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Research Paper 1:</strong> <a href="{{=URL(c='appadmin',f='download/db/'+addon.Relevant_Research_Paper_1)}}">Research Paper</a><br><br>
{{pass}}
{{if addon.Relevant_Research_Paper_2:}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Research Paper 2:</strong> <a href="{{=URL(c='appadmin',f='download/db/'+addon.Relevant_Research_Paper_2)}}">Research Paper</a><br><br>
{{pass}}
{{if addon.Relevant_Research_Paper_3:}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Research Paper 3:</strong> <a href="{{=URL(c='appadmin',f='download/db/'+addon.Relevant_Research_Paper_3)}}">Research Paper</a><br><br>
{{pass}}
</div>
<hr width="100%">
{{recomm = db(db.recommendationPage.Recommendation_forUsername == application.username).select()}}
{{j=1}}
{{if recomm:}}
<h4>
    Recommendations:
</h4>
<div class="answer" style="width:1100px;">
{{for i in recomm:}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Reference {{=j}}:</u></strong>
{{j=j+1}}<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Name:</strong> {{=(i.First_Name + ' ' + i.Last_Name)}}<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Email Id:</strong> {{=i.Email}}<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Current Affiliation:</strong> {{=i.Current_Affiliation}}<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Current Designation:</strong> {{=i.Current_Designation}}<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Recommendation Letter:</strong> <a href="{{=URL(c='appadmin',f='download/db/'+i.Recommendation_Letter)}}">Recommendation</a><br><br>
{{pass}}
</div>
<hr width="100%">
{{pass}}
{{pass}}
{{pass}}
</section>
</body>
